layout{
    focus-ring{
        active-gradient from="#b7c4ffcc" to="#e3badacc" angle=135
        urgent-color "#ffb4ab"

        }
}
recent-windows {    
    highlight {
        active-color "#38393f"
        urgent-color "#ffb4ab"
    }
}
